####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false
offline=false

wss.url=https://saas.whitesourcesoftware.com/agent

##################################
# Organization tokens:
##################################
projectName=Splunk-Cloud-SDK-Go

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/*.go

case.sensitive.glob=false
followSymbolicLinks=true

##################################
# Go Specific Configurations
##################################
go.resolveDependencies=true
go.collectDependenciesAtRuntime=true
# Which Go dependency manager to use when scanning Go project.
# Valid values are dep, godep or vndr.
# If empty the FSA will try to resolve the dependencies using dep, if its
# missing the FSA will use godep, and finally will use vndr
# go.dependencyManager=
