# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Goland
.idea/
debug
*.iml
.vscode/

# codeship encrypted files, used by codecov
codeship.aes
vendor
.vendor-new
*.env
tmp/

# used by token fetcher
okta/.token
okta/token

# Docs/build info
ci/docs/node_modules
ci/docs/build
ci/docs/package.json
docs/docs.manifest.json


